In [1]:
# Import Dependencies
import pandas as pd

In [3]:
# File to Load
file_one = "Resources/books_clean.csv"
# Read the modified GoodReads csv and store into Pandas DataFrame
file_one_df = pd.read_csv(file_one)
file_one_df.head()

,ISBN,Publication Year,Original Title,Authors,One Star Reviews,Two Star Reviews,Three Star Reviews,Four Star Reviews,Five Star Reviews
0,439023483,2008.0,The Hunger Games,Suzanne Collins,66715,127936,560092,1481305,2706317
1,439554934,1997.0,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",75504,101676,455024,1156318,3011543
2,316015849,2005.0,Twilight,Stephenie Meyer,456191,436802,793319,875073,1355439
3,61120081,1960.0,To Kill a Mockingbird,Harper Lee,60427,117415,446835,1001952,1714267
4,743273567,1925.0,The Great Gatsby,F. Scott Fitzgerald,86236,197621,606158,936012,947718

In [27]:
# Calculate the number of unique authors in the DataFrame
unique = file_one_df["Authors"].unique()
unique

array(['Suzanne Collins', 'J.K. Rowling, Mary GrandPré',
       'Stephenie Meyer', ..., 'Ian Mortimer', 'Peggy Orenstein',
       'John Keegan'], dtype=object)

In [14]:
# Calculate the latest year a book was published
maxi = file_one_df["Publication Year"].max()
maxi

2017.0

In [15]:
# Calculate the earliest year a book was published
mini = file_one_df["Publication Year"].min()
mini

-1750.0

In [16]:
# Calculate the total reviews for the entire dataset
sum1 = file_one_df["One Star Reviews"].sum()
sum1
sum2 = file_one_df["Two Star Reviews"].sum()
sum2
sum3 = file_one_df["Three Star Reviews"].sum()
sum3
sum4 = file_one_df["Four Star Reviews"].sum()
sum4
sum5 = file_one_df["Five Star Reviews"].sum()
sum5

237898056

In [37]:
# Place all of the data found into a summary DataFrame
data = {
    'List of Unique Authors': unique,
    'Latest Year of Publication': maxi,
    'Earliest Year of Publication': mini,
    'Total One Star Reviews': sum1,
    'Total Two Star Reviews': sum2,
    'Total Three Star Reviews': sum3,
    'Total Four Star Reviews': sum4,
    'Total Five Star Reviews': sum5
}
new_file = pd.DataFrame(data)
new_file.head()

,List of Unique Authors,Latest Year of Publication,Earliest Year of Publication,Total One Star Reviews,Total Two Star Reviews,Total Three Star Reviews,Total Four Star Reviews,Total Five Star Reviews
0,Suzanne Collins,2017.0,-1750.0,13450406,31108850,114758938,199656966,237898056
1,"J.K. Rowling, Mary GrandPré",2017.0,-1750.0,13450406,31108850,114758938,199656966,237898056
2,Stephenie Meyer,2017.0,-1750.0,13450406,31108850,114758938,199656966,237898056
3,Harper Lee,2017.0,-1750.0,13450406,31108850,114758938,199656966,237898056
4,F. Scott Fitzgerald,2017.0,-1750.0,13450406,31108850,114758938,199656966,237898056